{% extends 'admin_panel/base.html' %}

{% block content %}
<h2>Change Password</h2>

<div class="row justify-content-center mt-4">
    <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            
            <div class="mb-3">
                <label>New Password</label>
                <input type="password" class="form-control" name="new_password" required>
                <small class="text-muted">Min 8 chars, uppercase, lowercase, number, special character</small>
            </div>
            
            <div class="mb-3">
                <label>Confirm Password</label>
                <input type="password" class="form-control" name="confirm_password" required>
            </div>
            
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}
